.NavigationBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 24px;
    align-content: center;
    position: relative;
}

.NavigationBar > input {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.NavigationBar > .SlideNavSwitch {
    background-color: black;
    height: 100%;
    color: white;
    font-family: helvetica, monospace;
    font-size: 25px;
    padding: 0 10px;
}

.NavigationBar > .SlideNavSwitch > p {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.NavigationBar > .SlideOutPanel {
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
}

.NavigationBar > .LoadingPage {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}