.NovelList > .NovelItem {
    width: 600px;
    height: 190px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 10px;
}

.NovelList > .LastElement {
    min-width: 600px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.NovelList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.NovelList {
    -ms-overflow-style: none; /* IE and Edge */
    /*noinspection CssUnknownProperty*/
    scrollbar-width: none; /* Firefox */
}