.MainPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

#navigation_bar {
    overflow: hidden;
    height: auto;
}

.MainPage > .MainPanel > .SlideOutPanel {
    width: 400px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.MainPage > .MainPanel::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.MainPage > .MainPanel {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.MainPage > .MainPanel {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow-y: hidden;
}

.MainPage > .MainPanel > .NovelList {
    overflow-y: auto;
    flex: 1;
}