#navigation_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 24px;
  align-content: center;
}
#navigation_bar > input {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
